
<li class="nav-item">
  <%= link_to "Find Friends", users_path, :class => "nav-link"  %>
</li>
<li class="nav-item">
  <%= link_to "New Post", new_post_path, :class => "nav-link"  %> 
</li>
<li class="nav-item">
  <%= link_to "My Profile", user_path(current_user), :class => "nav-link"  %>  
</li>

<li class="nav-item">
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "nav-link"  %> 
</li> 



